<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Talknado.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Talknado.Client.Properties.Settings>
            <setting name="AutoOpenScreenShareWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShareScreenWithAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedInputDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedOutputDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="Nickname" serializeAs="String">
                <value />
            </setting>
        </Talknado.Client.Properties.Settings>
    </userSettings>
</configuration>